[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Passwords
Exec=hildon-meepasswords
Icon=hildon-meepasswords
X-Nemo-Application-Type=silica-qt5
