[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Passwords
Exec=/usr/bin/invoker --single-instance --splash /opt/meepasswords/splash.png --type=e /opt/meepasswords/bin/meepasswords
Icon=/usr/share/icons/hicolor/64x64/apps/meepasswords.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
